.navigation{
    background-color: #afadad;
    padding: 10px;
    border-radius: 20px;
    border: 0px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 24px 4px 5px rgba(4, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.navigation ul li {
    margin: 0;
}
.navigation ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;

    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  
    &:before {
        position: absolute;
        z-index: 1;
        content: '';
    background-color: #e1dede;
        height: 20px;
        left: 0;
        bottom: 0px;
        width: 0%;
        opacity: 0.5;
        transition: all 0.5s;
        border-radius: 15px;
    }
    
    &:hover:before {
        width: 100%;
}
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    box-shadow: 24px 4px 5px rgba(4, 0, 0, 0.1);
}
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: antiquewhite;
}
.intro h2{
    border: 0px solid #ccc;
    margin-bottom: 0px;
}
.intro .highlight {
    background-color: yellow;
    font-weight: bold;
    font-style: italic;
}
.intro img {
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 15px;
    box-shadow: 24px 4px 5px rgba(4, 0, 0, 0.1);
}
.intro{
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.definition {
    padding: 0;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 15px;
    margin-top: 20px;
}
.photo-grid img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 24px 4px 5px rgba(4, 0, 0, 0.1);
}
.video {
    margin-top: 30px;
    text-align: center;
}
.video h3 {
    margin-bottom: 15px;
    background-color: #333;
    border-radius: 15px;
}
.video iframe {
    border-radius: 15px;
    box-shadow: 24px 4px 5px rgba(4, 0, 0, 0.1);
}
.about img {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 24px 4px 5px rgba(4, 0, 0, 0.1);
}
.about p {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 24px 4px 5px rgba(4, 0, 0, 0.1);
}